<!-- Main Content-->
<div class="w3-grey" style="max-width:2000px;">
    <div class="container w3-padding-64">
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6">
                <div class="h2 text-danger">FAQ</div>
            </div>
            <div class="w3-col m6" style="letter-spacing: 1px;">
                <div class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">{{'FAQ.Q1' | translate}}</div>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <div class="p">{{'FAQ.Q1P1' | translate}}</div>
                    <ul>
                        <li>{{'FAQ.Q1P2' | translate}}</li>
                        <div class="row p-3">
                            <div class="col-sm">
                                <img src="https://i.ibb.co/dr2ZMQ9/figure12.png">
                            </div>
                            <div class="col-sm">
                                <img src="https://i.ibb.co/4NRXj0P/figure12-incorrect.png">
                            </div>
                        </div>
                        <li>{{'FAQ.Q1P3' | translate}}</li>
                        <li>{{'FAQ.Q1P4' | translate}}</li>
                    </ul>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">{{'FAQ.Q2' | translate}}</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>{{'FAQ.Q2P1' | translate}}</p>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">{{'FAQ.Q3' | translate}}</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>{{'FAQ.Q3P1' | translate}}</p>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">{{'FAQ.Q4' | translate}}</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>{{'FAQ.Q4P1' | translate}}</p>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">{{'FAQ.Q5' | translate}}</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>{{'FAQ.Q5P1' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>