<!-- Main Content-->
<div class="w3-light-gray" style="max-width:2000px;">
    <div class="container w3-padding-64">
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6">
                <div class="h2 text-danger">FAQ</div>
            </div>
            <div class="w3-col m6" style="letter-spacing: 1px;">
                <div class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">What if my shape doesn`t fit the required one?</div>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <div class="p">There are can be many solutions:</div>
                    <ul>
                        <li>Be more precise, maybe your shape is a bit different:</li>
                        <div class="row p-3">
                            <div class="col-sm">
                                <img src="https://i.ibb.co/dr2ZMQ9/figure12.png">
                            </div>
                            <div class="col-sm">
                                <img src="https://i.ibb.co/4NRXj0P/figure12-incorrect.png">
                            </div>
                        </div>
                        <li>Watch the in-game tutorial, it points out main mechanics</li>
                        <li>If you are 100% sure it`s not your fault, write an email about the problem describing what figures must be fixed (see contacts below)</li>
                    </ul>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">If i play offline and beat record, will it be transfered to the leaderboard?</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>Yes, it will be transfered to the leaderboard if you connect to the internet again and sign in to google account.</p>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">Is it add-free?</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>Yes, it is.</p>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">If i switch my mobile device, will my scores dissapear?</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>All your records are stored on your phone as well as in the leaderboard, so when you sign in to the google account it can load your record from leaderboard to a new device.</p>
                </div>
                <p class="h5 text-danger text-center" style="font-weight:bold; line-height: 2em;">Found somehow a bug?</p>
                <div class="h6" style="font-weight: 500; line-height: 2em;">
                    <p>Describe it and contact us (see contacts below). Your feedback matters and bug will be fixed without a doubt.</p>
                </div>
            </div>
        </div>
    </div>
</div>