<!-- Page content -->
<div class="w3-black" style="max-width:2000px;">
    <!-- App Section -->
    <div class="w3-container w3-content w3-center w3-padding-64 animated-container" style="max-width:800px" id="band">
        <img width="500px;" src="https://i.ibb.co/xgKXzm7/logo.png" class="responsive" style="border-radius: 15%;" alt="">
        <a href="#r">
            <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" class="responsive" width="500px" alt="">
        </a>
    </div>
    <!-- Description Section -->
    <div class="w3-container w3-content w3-center w3-padding-64 animated-container" style="max-width:1200px; font-size: 1.5em; font-weight: bold;" id="band">
        <h2 class="w3-wide" style="font-size: 2.5em; font-weight: bolder;">Description</h2>
        <p class="w3-justify">Shape Chopper is some sort of hypercasual games, which uses the mechanic of swipes to slice parts of object.</p>
        <p class="w3-justify">If your figure fits the required one, you win. For each success you obtain scores and the more you have, the more system will try to fail you.</p>
        <p class="w3-justify">It must be the same figure with simillar angles and proportions. System is smart enough to understand that you are attempting to make the small version of original or differently displaced.</p>
        <p class="w3-justify">Challenge other people in the whole world or your friends. Be precise and don`t make mistakes, because they are unforgivable.</p>
        <p class="w3-justify">In order to not frighten a new user, we have a small in-game tutorial about some mechanics features, which will make your gameplay much pleasant.</p>
    </div>
    <!-- End Page Content -->
</div>