<!-- Page content -->
<div class="w3-black" style="max-width:2000px;">
    <!-- App Section -->
    <div class="w3-container w3-content w3-center w3-padding-64 animated-container" style="max-width:800px" id="band">
        <img width="500px;" src="https://i.ibb.co/xgKXzm7/logo.png" class="responsive" style="border-radius: 15%;" alt="">
        <a href="#r">
            <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" class="responsive" width="500px" alt="">
        </a>
    </div>
    <!-- Description Section -->
    <div class="w3-container w3-content w3-center w3-padding-64 animated-container" style="max-width:1200px; font-size: 1.5em; font-weight: bold;" id="band">
        <h2 class="w3-wide" style="font-size: 2.5em; font-weight: bolder;">{{'HOME.DescriptionLabel' | translate}}</h2>
        <p class="w3-justify">{{'HOME.DescriptionP1' | translate}}</p>
        <p class="w3-justify">{{'HOME.DescriptionP2' | translate}}</p>
        <p class="w3-justify">{{'HOME.DescriptionP3' | translate}}</p>
        <p class="w3-justify">{{'HOME.DescriptionP4' | translate}}</p>
        <p class="w3-justify">{{'HOME.DescriptionP5' | translate}}</p>
    </div>
    <!-- End Page Content -->
</div>